

{% block body %}
<table>
  <td>
<form action = "/" Method="POST">
<tr>
<input type="text" name="Guild" value=
{% if result %}
"
{{result.Guild|replace("+"," ")}}
"
{%else%}
"Born On A Blood Moon"
{%endif%}


 size="20"></tr></td><td>
<tr>
<select name="Realm">
  {% if result %}
  <option value="{{result.Realm}}">{{result.Realm}}</option>
  {% endif %}
  <option value="Lordaeron">Lordaeron</option>
  <option value="Frostwolf">Frostwolf</option>
  <option value="Blackrock">Blackrock</option>
 <input type="submit" value="Submit" size="35">
</form></tr></td></table>
{% endblock %}
