{% extends 'layout.html' %}
{% set onlinecount = [] %}
{% block body %}
  <h1>{{name}}</h1>
  <div style="text-align: center;">
  <table class="sortable" border="1" align=center>
    <tr>
      <td colspan="6" align="center">
        <div2>

          {% if result %}{%if data == 'no good'%}{%else%}
          <h1><br>
          {{result.Guild|replace("+"," ")|upper}}
          </h1>
          {%endif%}
          {%else%}
          <h4><div>
            Welcome to the Warmane Guild Search.<br><br>
            First, type a guild name above<br>
            Then select the realm from the dropdown<br>
            Finally, click submit!<h4></div>
          {%endif%}

        </div2>
        {% if result %}{%if data == 'no good'%}Sorry, no guild found.<br>Please try again!{%else%}
        {% for person in data %}
        {% if person.online == True %}
        {% if onlinecount.append(1) %}{% endif %}
        {% endif %}
        {% endfor %}


        <br>{{onlinecount|length}} online!
        {%endif%}
        {% endif %}
      </td>
    </tr>
{% if result %}{%if data == 'no good'%}{%else%}
    <tr>
        <th class="text-center">Status</th>
        <th class="text-center">Name</th>
        <th class="text-center">Level</th>
        <th class="text-center">Achievement Points</th>
        <th class="text-center"></th>
      </tr>
  {% for person in data %}
  {% if person.online == True %}
    <tr>
      <td align="center"><font color='green'>Online</font></td>
      <td align="center">{{person.name}}</td>
      <td align="center">{{person.level}}</td>
      <td align="center">{{person.achievementpoints}}</td>
      <td align="center"><img src="/static/images/icons/{{person.race.lower() | replace(" ","")}}-{{person.gender.lower()}}.png" style="width:20px;height:20px;">
        <img src="/static/images/icons/classicon_{{person.class.lower() | replace(" ","")}}.jpg" style="width:20px;height:20px;"></td>
    </tr>
  {% else %}

  {% endif %}
  {% endfor %}
  {% for person in data %}
  {% if person.online == False %}
    <tr>
      <td align="center"><font color='red'>Offline</font></td>
      <td align="center">{{person.name}}</td>
      <td align="center">{{person.level}}</td>
      <td align="center">{{person.achievementpoints}}</td>
      <td align="center"><img src="/static/images/icons/{{person.race.lower() | replace(" ","")}}-{{person.gender.lower()}}.png" style="width:20px;height:20px;">
        <img src="/static/images/icons/classicon_{{person.class.lower() | replace(" ","")}}.jpg" style="width:20px;height:20px;"></td>
    </tr>
  {% else %}
  {% endif %}

  {% endfor %}
{% endif %}
{% endif %}
</div>
</table>
{% endblock %}
